.App {
  height: 100vh;
  width: 100%;
  background: #ececec;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.video-list {
  display: flex;
  justify-content: center;
}
.video {
  margin: 5px;
  border: solid 1px #333;
  padding: 5px;
}

.video img {
  width: 300px;
  cursor: pointer;
}

.App__player {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
}

.footer {
  background-color: #333;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
