nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #333;
  color: white;
  ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
